[submodule "ros2_ws/src/luna_control"]
	path = ros2_ws/src/luna_control
	url = git@github.com:thesamrooney/luna_control.git
[submodule "ros2_ws/src/lunabot_2425"]
	path = ros2_ws/src/lunabot_2425
	url = git@github.com:thesamrooney/lunabot_2425.git
[submodule "ros2_ws/src/twist_stamper"]
	path = ros2_ws/src/twist_stamper
	url = git@github.com:joshnewans/twist_stamper.git
