[submodule "ros_ws/luna_control"]
	path = ros_ws/luna_control
	url = git@github.com:thesamrooney/luna_control.git
[submodule "ros_ws/lunabot_2425"]
	path = ros_ws/lunabot_2425
	url = git@github.com:thesamrooney/lunabot_2425.git
[submodule "ros_ws/twist_stamper"]
	path = ros_ws/twist_stamper
	url = git@github.com:joshnewans/twist_stamper.git
